#
# PHY
#

menu "PHY Subsystem"

config GENERIC_PHY
	tristate "PHY Core"
	help
	  Generic PHY support.

	  This framework is designed to provide a generic interface for PHY
	  devices present in the kernel. This layer will have the generic
	  API by which phy drivers can create PHY using the phy framework and
	  phy users can obtain reference to the PHY. All the users of this
	  framework should select this config.

config PHY_EXYNOS_MIPI_VIDEO
	tristate "S5P/EXYNOS SoC series MIPI CSI-2/DSI PHY driver"
	help
	  Support for MIPI CSI-2 and MIPI DSI DPHY found on Samsung
	  S5P and EXYNOS SoCs.

config PHY_EXYNOS_USB
	tristate "Samsung USB PHY driver (using the Generic PHY Framework)"
	help
	  Enable this to support Samsung USB phy helper driver for Samsung SoCs.
	  This driver provides common interface to interact, for Samsung
	  USB 2.0 PHY driver.

config PHY_EXYNOS4210_USB
	bool "Support for Exynos 4210"
	depends on PHY_EXYNOS_USB
	depends on CPU_EXYNOS4210
	help
	  Enable USB PHY support for Exynos 4210

config PHY_EXYNOS4212_USB
	bool "Support for Exynos 4212"
	depends on PHY_EXYNOS_USB
	depends on (SOC_EXYNOS4212 || SOC_EXYNOS4412)
	help
  	  Enable USB PHY support for Exynos 4212
  	  
endmenu
