config VIDEO_EXYNOS_FIMC_IS
        bool "Exynos FIMC-IS (Image Subsystem) driver"
        depends on VIDEO_EXYNOS
        select MEDIA_EXYNOS
        select USE_VENDER_FEATURE
        default n
        help
          This is a v4l2 driver for exynos FIMC-IS device.
config CAMERA_EEPROM_SUPPORT_REAR
        bool "Enable eeprom for rear cam"
        depends on VIDEO_EXYNOS_FIMC_IS
        default n
        help
          Enable eeprom for rear cam.
config CAMERA_EEPROM_SUPPORT_FRONT
        bool "Enable eeprom for front cam"
        depends on VIDEO_EXYNOS_FIMC_IS
        default n
        help
          Enable eeprom for front cam.
config COMPANION_USE
        bool "Enable to companion"
        depends on VIDEO_EXYNOS_FIMC_IS
        default n
        help
          Enable to companion.
config OIS_USE
        bool "Enable to ois"
        depends on VIDEO_EXYNOS_FIMC_IS
        default n
        help
          Enable to ois.
config OIS_FW_UPDATE_THREAD_USE
        bool "Enable to ois fw update thread"
        depends on OIS_USE
        default n
        help
          Enable to ois fw update thread.
config AF_HOST_CONTROL
        bool "Enable to af control"
        depends on VIDEO_EXYNOS_FIMC_IS
        default n
        help
          Enable to af control.
config USE_VENDER_FEATURE
        bool "Use vendor specific features"
        depends on VIDEO_EXYNOS_FIMC_IS
        default n
        help
          Enable to use the vender.
config CAMERA_SENSOR_6D1_OBJ
        bool "Use 6D1 camera sensor"
        depends on VIDEO_EXYNOS_FIMC_IS
        default n
        help
          Use to build 6D1 camera sensor.
config CAMERA_SENSOR_IMX240_OBJ
        bool "Use IMX240 camera sensor"
        depends on VIDEO_EXYNOS_FIMC_IS
        default n
        help
          Use to build IMX240 camera sensor.
