menu "Hardkernel Specific Hardware"

config ODROID_U2_FAN
	bool "Enable the PWM Controlled FAN on ODROID-U2"
	depends on ODROID_U2
	default y
	---help---
		Enables the PWM Controlled FAN on ODROID-U2

config ODROID_UMP
        bool "Enable ODROID UMP IOCTL's for MALI"
        default y
        ---help---
                This enables UMP IOCTL's on Framebuffer 


endmenu

