#
# SAMSUNG SOC drivers
#
menu "Samsung SOC drivers support"

config SOC_SAMSUNG
	bool

config EXYNOS_PMU
	bool "Support Exynos Power Management Unit"
	depends on ARCH_EXYNOS
	default y
	help
	  Exynos SoC have Power Management Unit (PMU) which controls power and
	  operation state of various components in Exynos SoC. This driver
	  provides implementation of PMU driver and provides various
	  functionality like initialisation and transition to various low power
	  states.

config EXYNOS5433_PMU
	bool "Support Exynos5433 pmu driver"
	depends on EXYNOS_PMU
	select EXYNOS_EXTRA_PWR_MODES
	help
	  Say Y here to support pmu driver for Exynos5433.

config EXYNOS_PM
	bool "Support Exynos Low Power Management"
	depends on ARCH_EXYNOS
	help
	  This option supports Exynos to enter suspend with doing some SoC
	  specific requirements.

config EXYNOS_EXTRA_PWR_MODES
	bool
	help
	  Some Exynos series has extra power mode for specific application.
endmenu
