/*
 * Samsung's Exynos4412 based  board device tree source
 *
 * Copyright (c) 2012 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * Device tree source file for Samsung's Redwood board which is based on
 * Samsung's Exynos4412 SoC.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/include/ "exynos4412-slp_pq.dts"

/ {
	model = "Samsung Redwood based on Exynos4412";
	compatible = "samsung,redwood", "samsung,exynos4412";

	chosen {
		bootargs = "console=ttySAC2,115200N8 root=/dev/mmcblk0p5 rootwait earlyprintk panic=5";
	};

	sdhci_emmc: sdhci@12510000 {
		bus-width = <8>;
		non-removable;
		pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_bus8>;
		pinctrl-names = "default";
		vmmc-supply = <&vemmc_reg>;
		status = "okay";
	};

	gpio-keys@0 {
		compatible = "gpio-keys";

		key@114 {
			interrupt-parent = <&gpx3>;
			interrupts = <3 0>;
			gpios = <&gpx3 3 1>;
			linux,code = <114>;
			label = "volume down";
			debounce-interval = <10>;
		};

		key@115 {
			interrupt-parent = <&gpx2>;
			interrupts = <2 0>;
			gpios = <&gpx2 2 1>;
			linux,code = <115>;
			label = "volume up";
			debounce-interval = <10>;
		};

		key@116 {
			interrupt-parent = <&gpx2>;
			interrupts = <7 0>;
			gpios = <&gpx2 7 1>;
			linux,code = <116>;
			label = "power";
			debounce-interval = <10>;
			gpio-key,wakeup;
		};

		key@139 {
			interrupt-parent = <&gpx0>;
			interrupts = <1 0>;
			gpios = <&gpx0 1 1>;
			linux,code = <139>;
			label = "menu";
			debounce-interval = <10>;
			gpio-key,wakeup;
		};
	};

	lcd_vdd_reg: voltage-regulator@1 {
	        compatible = "regulator-fixed";
		regulator-name = "LCD_VDD_5.0V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpm0 0 0>;
		enable-active-high;
	};

	fimd0_lcd: panel {
		compatible = "samsung,s6d6aa1";
		reset-gpio = <&gpf2 1 0>;
		reset-delay = <100>;
		power-on-delay= <50>;
		vdd-supply = <&lcd_vdd_reg>;
		vddi-supply = <&ldo5_reg>;
		video-source = <&dsi_0>;
		flip-horizontal;
		flip-vertical;
		samsung,panel-width-mm = <59>; /* FIXME */
		samsung,panel-height-mm = <105>; /* FIXME */

		display-timings {
			native-mode = <&timing0>;

			timing0: timing-0 {
				clock-frequency = <0>;
				hactive = <720>;
				vactive = <1280>;
				hfront-porch = <60>;
				hback-porch = <60>;
				hsync-len = <3>;
				vfront-porch = <36>;
				vback-porch = <2>;
				vsync-len = <2>;
			};
		};
	};

	dsi_0: dsi@11C80000 {
		samsung,pll-stable-time = <500>;
		samsung,stop-holding-count = <0x7ff>;
		samsung,bta-timeout = <0xff>;
		samsung,rx-timeout = <0xffff>;
		samsung,pll-clk-freq = <24000000>;
		samsung,cmd-allow = <0xf>;
		vdd11-supply = <&ldo8_reg>;
		vdd18-supply = <&ldo10_reg>;
		status = "okay";
	};

	fimd@11c00000 {
		samsung,fimd-display = <&fimd0_lcd>;
		samsung,fimd-vidout-rgb;
		samsung,fimd-inv-vclk;
		samsung,fimd-frame-rate = <60>;
		samsung,default-window = <3>;
		samsung,fimd-win-bpp = <32>;
		status = "okay";
	};

	rotator: rotator@12810000 {
		status = "okay";
	};

	cpufreq {
		freq_table;
		status = "okay";
	};

	tmu@100C0000 {
		vdd_ts-supply = <&ldo10_reg>;
		status = "okay";
	};

	ehci@12580000 {
		status = "okay";
	};


};

&pinctrl_1 {
	modem_state_active: modem-state-active {
		samsung,pins = "gpx1-6", "gpx1-1", "gpx1-2";
		samsung,pin-pud = <0>;
	};
	modem_state_off: modem-state-off {
		samsung,pins = "gpx1-6", "gpx1-1", "gpx1-2";
		samsung,pin-pud = <1>;
	};
};
