/*
 * Samsung's Exynos4412 based M0 board device tree source
 *
 * Copyright (c) 2012 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * Device tree source file for Samsung's M0 board which is based on
 * Samsung's Exynos4412 SoC.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/include/ "exynos4412-slp_pq.dts"

/ {
	model = "Samsung M0 based on Exynos4412";
	compatible = "samsung,m0", "samsung,exynos4412";

	aliases {
		i2c20 = &i2c_touch_key;
		i2c21 = &i2c_cm36651;
	};

	pinctrl@11400000 {
		vt_cam_id: vt-cam-id {
			samsung,pins = "gpf1-2";
			samsung,pin-function = <2>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <3>;
		};
	};

	gpio-keys@0 {
		compatible = "gpio-keys";

		key@114 {
			interrupt-parent = <&gpx3>;
			interrupts = <3 0>;
			gpios = <&gpx3 3 1>;
			linux,code = <114>;
			label = "volume down";
			debounce-interval = <10>;
		};

		key@115 {
			interrupt-parent = <&gpx2>;
			interrupts = <2 0>;
			gpios = <&gpx2 2 1>;
			linux,code = <115>;
			label = "volume up";
			debounce-interval = <10>;
		};

		key@116 {
			interrupt-parent = <&gpx2>;
			interrupts = <7 0>;
			gpios = <&gpx2 7 1>;
			linux,code = <116>;
			label = "power";
			debounce-interval = <10>;
			gpio-key,wakeup;
		};

		key@139 {
			interrupt-parent = <&gpx0>;
			interrupts = <1 0>;
			gpios = <&gpx0 1 1>;
			linux,code = <139>;
			label = "ok";
			debounce-interval = <10>;
			gpio-key,wakeup;
		};
	};

	i2c_touch_key: i2c-gpio-3 {
		compatible = "i2c-gpio";
		gpios = <&gpl0 2 0>, <&gpl0 1 0>;
		i2c-gpio,delay-us = <2>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		touch_key@20 {
			compatible = "mcs5080_touchkey";
			reg = <0x20>;
			interrupt-parent = <&gpj0>;
			interrupts = <3 0>;
			key_maxval = <2>;
			linux,code = <0x0000009e	/* KEY_BACK */
				      0x000000a9>;	/* KEY_MENU */
		};
	};

	i2c_cm36651: i2c-gpio-2 {
		compatible = "i2c-gpio";
		gpios = <&gpf0 0 0>, <&gpf0 1 0>;
		i2c-gpio,delay-us = <2>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		cm36651@18 {
			compatible = "cm36651";
			reg = <0x18>;
			interrupt-parent = <&gpx0>;
			interrupts = <2 0>;
			vled-supply = <&ps_als_reg>;
		};
	};

	camera {
		status = "okay";

		pinctrl-names = "default";
		pinctrl-0 = <&cam_port_a_clk_active &cam_port_b_clk_active>;

		fimc_0: fimc@11800000 {
			clock-frequency = <160000000>;
			status = "okay";
		};

		fimc_1: fimc@11810000 {
			clock-frequency = <160000000>;
			status = "okay";
		};

		fimc_2: fimc@11820000 {
			clock-frequency = <160000000>;
			status = "okay";
		};

		fimc_3: fimc@11830000 {
			clock-frequency = <160000000>;
			status = "okay";
		};

		csis_0: csis@11880000 {
			status = "okay";
			vddcore-supply = <&ldo8_reg>;
			vddio-supply = <&ldo10_reg>;
			clock-frequency = <160000000>;
			#address-cells = <1>;
			#size-cells = <0>;

			/* Camera C (3) MIPI CSI-2 (CSIS0) */
			port@3 {
				reg = <3>;
				csis0_ep: endpoint {
					remote-endpoint = <&s5c73m3_ep>;
					data-lanes = <1 2 3 4>;
					samsung,csis-hs-settle = <12>;
					samsung,csis-wclk;
				};
			};
		};

		csis_1: csis@11890000 {
			status = "okay";
			vddcore-supply = <&ldo8_reg>;
			vddio-supply = <&ldo10_reg>;
			clock-frequency = <160000000>;
			#address-cells = <1>;
			#size-cells = <0>;

			/* Camera D (4) MIPI CSI-2 (CSIS1) */
			port@4 {
				reg = <4>;
				csis1_ep: endpoint {
					remote-endpoint = <&is_s5k6a3_ep>;
					data-lanes = <1>;
					samsung,csis-hs-settle = <18>;
					samsung,csis-wclk;
				};
			};
		};

		fimc-is@12000000 {
			linux,contiguous-region = <&fimc_mem>;
			status = "okay";
			pinctrl-0 = <&fimc_is_uart>;
			pinctrl-names = "default";

			fimc_lite_0: fimc-lite@12390000 {
				status = "okay";
			};

			fimc_lite_1: fimc-lite@123A0000 {
				status = "okay";
			};

			i2c1_isp: i2c-isp@12140000 {
				pinctrl-0 = <&fimc_is_i2c1>;
				pinctrl-names = "default";

				s5k6a3@10 {
					compatible = "samsung,s5k6a3";
					reg = <0x10>;
					svdda-supply = <&cam_io_reg>;
					svddio-supply = <&ldo19_reg>;
					gpios = <&gpm1 6 0>;
					pinctrl-names = "default";
					pinctrl-0 = <&vt_cam_id>;
					clocks = <&camera 1>; /* CAM_B_CLKOUT */
					clock-names = "extclk";
					clock-frequency = <24000000>;
					port {
						is_s5k6a3_ep: endpoint {
							remote-endpoint = <&csis1_ep>;
							data-lanes = <1>;
						};
					};
				};
			};
		};
	};

	cpufreq {
		freq_table = <1400000 1300000 1200000 1100000 1000000
			     900000 800000 700000 600000 500000 400000 300000
			     200000>;
	};

	thermistor-ap@0 {
		compatible = "ntc,ncp03wb473";
		status = "ok";
		pullup-uv = <1800000>;
		pullup-ohm = <100000>;
		pulldown-ohm = <100000> ;
		io-channels = <&adc 1>;
	};

	thermistor-batt@0 {
		compatible = "ntc,ncp03wb473";
		status = "ok";
		pullup-uv = <1800000>;
		pullup-ohm = <100000>;
		pulldown-ohm = <100000> ;
		io-channels = <&adc 2>;
	};

	rtc@10070000 {
		status = "okay";
	};
};
