/*
 * SAMSUNG Exynos5433 TM2E board device tree source
 *
 * Copyright (c) 2016 Samsung Electronics Co., Ltd.
 *
 * Device tree source file for Samsung's TM2E(TM2 EDGE) board which is based on
 * Samsung Exynos5433 SoC.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include "exynos5433-tm2-common.dtsi"

/ {
	model = "Samsung TM2E board";
	compatible = "samsung,tm2e", "samsung,exynos5433";

	i2c_6d1: i2c-gpio-1 {
		compatible = "i2c-gpio";
		gpios = <&gpc2 4 0 /* SDA */
		         &gpc2 5 0 /* SCL */>;
		i2c-gpio,delay-us = <2>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
		fimc-is-vision@35 {
			compatible = "samsung,exynos5-fimc-is-sensor-6d1";
			reg = <0x35>;
		};
	};
};

&cmu_disp {
	/*
	 * TM2 and TM2e differ only by DISP_PLL rate, but define all assigned
	 * clocks properties for DISP CMU for each board to keep them together
	 * for easier review and maintenance.
	 */
	assigned-clocks = <&cmu_disp CLK_FOUT_DISP_PLL>,
			  <&cmu_mif CLK_DIV_SCLK_DECON_TV_ECLK>,
			  <&cmu_disp CLK_MOUT_ACLK_DISP_333_USER>,
			  <&cmu_disp CLK_MOUT_SCLK_DSIM0_USER>,
			  <&cmu_disp CLK_MOUT_SCLK_DSIM0>,
			  <&cmu_disp CLK_MOUT_SCLK_DECON_ECLK_USER>,
			  <&cmu_disp CLK_MOUT_SCLK_DECON_ECLK>,
			  <&cmu_disp CLK_MOUT_PHYCLK_MIPIDPHY0_RXCLKESC0_USER>,
			  <&cmu_disp CLK_MOUT_PHYCLK_MIPIDPHY0_BITCLKDIV8_USER>,
			  <&cmu_disp CLK_MOUT_DISP_PLL>,
			  <&cmu_mif CLK_MOUT_SCLK_DECON_TV_ECLK_A>,
			  <&cmu_disp CLK_MOUT_SCLK_DECON_TV_ECLK_USER>,
			  <&cmu_disp CLK_MOUT_SCLK_DECON_TV_ECLK>;
	assigned-clock-parents = <0>, <0>,
				 <&cmu_mif CLK_ACLK_DISP_333>,
				 <&cmu_mif CLK_SCLK_DSIM0_DISP>,
				 <&cmu_disp CLK_MOUT_SCLK_DSIM0_USER>,
				 <&cmu_mif CLK_SCLK_DECON_ECLK_DISP>,
				 <&cmu_disp CLK_MOUT_SCLK_DECON_ECLK_USER>,
				 <&cmu_disp CLK_PHYCLK_MIPIDPHY0_RXCLKESC0_PHY>,
				 <&cmu_disp CLK_PHYCLK_MIPIDPHY0_BITCLKDIV8_PHY>,
				 <&cmu_disp CLK_FOUT_DISP_PLL>,
				 <&cmu_mif CLK_MOUT_BUS_PLL_DIV2>,
				 <&cmu_mif CLK_SCLK_DECON_TV_ECLK_DISP>,
				 <&cmu_disp CLK_MOUT_SCLK_DECON_TV_ECLK_USER>;
	assigned-clock-rates = <278000000>, <400000000>;
};

&dsi {
	panel@0 {
		compatible = "samsung,s6e3hf2";
		reg = <0>;
		vdd3-supply = <&ldo27_reg>;
		vci-supply = <&ldo28_reg>;
		reset-gpios = <&gpg0 0 GPIO_ACTIVE_LOW>;
		enable-gpios = <&gpf1 5 GPIO_ACTIVE_HIGH>;
	};
};

&ldo25_reg {
	regulator-name = "CAM_SEN_A2.8V_AP";
};

&ldo31_reg {
	regulator-name = "TSP_VDD_1.8V_AP";
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
};

&ldo38_reg {
	regulator-name = "VCC_3.3V_MOTOR_AP";
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
};

&stmfts {
	touchscreen-size-x = <1599>;
	touchscreen-size-y = <2559>;
	touch-key-connected;
	ledvdd-supply = <&ldo33_reg>;
};

&spi_5 {
	cs-gpios = <&gpc0 6 0>, <&gpc3 1 0>;

	status = "okay";
	clocks = <&cmu_cam1 CLK_ISP_SPI0>,
		<&cmu_top CLK_SCLK_ISP_SPI1_CAM1>;
	clock-names = "spi", "spi_busclk0";
	pinctrl-names ="default";
	pinctrl-0 = <&fimc_is_spi_pin0>;
	num-cs = <2>;

	fimc_is_spi_0@0 {
		compatible = "samsung,fimc_is_spi0";
		spi-max-frequency = <50000000>;
		reg = <0x0>;

		controller-data {
			samsung,spi-feedback-delay = <2>;
			cs-gpio = <&gpc0 6 0>;
		};
	};

	fimc_is_spi_1@1 {
		compatible = "samsung,fimc_is_spi1";
		fimc_is_spi_sclk = "gpc3-0";
		fimc_is_spi_ssn = "gpc3-1";
		fimc_is_spi_miso = "gpc3-2";
		fimc_is_spi_mois = "gpc3-3";
		spi-max-frequency = <50000000>;
		reg = <0x1>;
		pinctrl-names = "default";
		pinctrl-0 = <&fimc_is_comp_int>;

		controller-data {
			cs-gpio = <&gpc3 1 0>;
			samsung,spi-feedback-delay = <3>;
		};
	};
};

&hsi2c_11 {
	status = "okay";
};

&fimc_is_sensor0 {
	scenario = <0>;
	gpio_reset = <&gpc0 4 0x1>;
	id = <0>;
	mclk_ch = <0>;
	csi_ch = <0>;
	flite_ch = <0>;
	i2c_ch = <0x010100>;
	i2c_addr = <0x483434>;
	flash_first_gpio = <1>;
	flash_second_gpio = <2>;
	sensor_name = "imx240";
	sensor_id = <104>;
	is_bns = <1>;
	status = "okay";
	phys = <&mipi_phy 0>;
	phy-names = "csis";
};

&fimc_is_sensor1 {
	pinctrl-names ="default", "ch1", "off1";
	pinctrl-0 = <&fimc_is_ch2_mclk_off>;
	pinctrl-1 = <&fimc_is_ch2_i2c &fimc_is_ch2_mclk>;
	pinctrl-2 = <&fimc_is_ch2_mclk_off &fimc_is_ch2_i2c_off>;

	scenario = <0>;
	gpio_reset = <&gpc0 3 0x1>;
	gpio_standby = <&gpc0 0 0x1>;
	id = <1>;
	mclk_ch = <2>;
	csi_ch = <1>;
	flite_ch = <1>;
	i2c_ch = <0x2>;
	i2c_addr = <0x6A>;
	sensor_name = "6d1";
	sensor_id = <16>;
	is_bns = <0>;
	status = "okay";
	phys = <&mipi_phy 2>;
	phy-names = "csis";
};

&fimc_is_companion {
	scenario = <0>;
	mclk_ch = <0>;
	sensor_id = <104>;

	gpios_cam_en = <&gpf4 7 0x1>;
	gpio_reset = <&gpc0 4 0x1>;
	gpios_comp_en = <&gpf1 7 0x1>; /* COMP_EN */
	gpios_comp_reset = <&gpf5 7 0x1>; /* COMP_RSTN */
	gpios_ois_en = <&gpf4 6 0>; /* OIS_EN*/

	status = "okay";
};

&fimc_is {
	status = "okay";
	interrupts = <0 165 0>; /* Remove ISP_GIC to use FIMC IS i2c channel in host */
	companion_spi_channel = <0>;
	use_vision = <1>;
	use_sensor_dynamic_voltage_mode = <1>;
	use_ois;
	use_ois_hsi2c;
	use_module_check;
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;

	fimc_is_dvfs {
		default_int = <400000>; /* L0 */
		default_cam = <777000>; /* L0 */
		default_mif = <825000>; /* L0 */
		default_i2c = <0>;

		front_preview_int = <267000>; /* L2 */
		front_preview_cam = <111000>; /* L9 */
		front_preview_mif = <543000>; /* L2 */
		front_preview_i2c = <0>;

		front_capture_int = <267000>; /* L2 */
		front_capture_cam = <111000>; /* L9 */
		front_capture_mif = <543000>; /* L2 */
		front_capture_i2c = <0>;

		front_camcording_int = <267000>; /* L2 */
		front_camcording_cam = <111000>; /* L9 */
		front_camcording_mif = <543000>; /* L2 */
		front_camcording_i2c = <0>;

		front_vt1_int = <200000>; /* L3 */
		front_vt1_cam = <111000>; /* L9 */
		front_vt1_mif = <543000>; /* L2 */
		front_vt1_i2c = <0>;

		front_vt2_int = <200000>; /* L3 */
		front_vt2_cam = <111000>; /* L9 */
		front_vt2_mif = <543000>; /* L2 */
		front_vt2_i2c = <0>;

		rear_preview_fhd_bns_off_int = <267000>; /* L2 */
		rear_preview_fhd_bns_off_cam = <200000>; /* L8 */
		rear_preview_fhd_bns_off_mif = <543000>; /* L2 */
		rear_preview_fhd_bns_off_i2c = <0>;

		rear_preview_fhd_int = <267000>; /* L2 */
		rear_preview_fhd_cam = <333000>; /* L6 */
		rear_preview_fhd_mif = <543000>; /* L2 */
		rear_preview_fhd_i2c = <0>;

		rear_preview_whd_int = <334000>; /* L1 */
		rear_preview_whd_cam = <600000>; /* L2 */
		rear_preview_whd_mif = <667000>; /* L1 */
		rear_preview_whd_i2c = <0>;

		rear_preview_uhd_int = <400000>; /* L0 */
		rear_preview_uhd_cam = <666000>; /* L1 */
		rear_preview_uhd_mif = <825000>; /* L0 */
		rear_preview_uhd_i2c = <0>;

		rear_capture_int = <400000>; /* L0 */
		rear_capture_cam = <777000>; /* L0 */
		rear_capture_mif = <667000>; /* L1 */
		rear_capture_i2c = <0>;

		rear_camcording_fhd_bns_off_int = <267000>; /* L2 */
		rear_camcording_fhd_bns_off_cam = <580000>; /* L3 */
		rear_camcording_fhd_bns_off_mif = <543000>; /* L2 */
		rear_camcording_fhd_bns_off_i2c = <0>;

		rear_camcording_fhd_int = <267000>; /* L2 */
		rear_camcording_fhd_cam = <555000>; /* L4 */
		rear_camcording_fhd_mif = <543000>; /* L2 */
		rear_camcording_fhd_i2c = <0>;

		rear_camcording_whd_int = <334000>; /* L1 */
		rear_camcording_whd_cam = <600000>; /* L2 */
		rear_camcording_whd_mif = <667000>; /* L1 */
		rear_camcording_whd_i2c = <0>;

		rear_camcording_uhd_int = <400000>; /* L0 */
		rear_camcording_uhd_cam = <666000>; /* L1 */
		rear_camcording_uhd_mif = <825000>; /* L0 */
		rear_camcording_uhd_i2c = <0>;

		dual_preview_int = <334000>; /* L1 */
		dual_preview_cam = <444000>; /* L5 */
		dual_preview_mif = <825000>; /* L0 */
		dual_preview_i2c = <0>;

		dual_capture_int = <400000>; /* L0 */
		dual_capture_cam = <777000>; /* L4 */
		dual_capture_mif = <825000>; /* L0 */
		dual_capture_i2c = <0>;

		dual_camcording_int = <334000>; /* L1 */
		dual_camcording_cam = <444000>; /* L5 */
		dual_camcording_mif = <825000>; /* L0 */
		dual_camcording_i2c = <0>;

		high_speed_fps_int = <400000>; /* L0 */
		high_speed_fps_cam = <222000>; /* L7 */
		high_speed_fps_mif = <825000>; /* L0 */
		high_speed_fps_i2c = <0>;

		dis_enable_int = <400000>; /* L0 */
		dis_enable_cam = <777000>; /* L0 */
		dis_enable_mif = <825000>; /* L0 */
		dis_enable_i2c = <0>;

		max_int = <400000>; /* L0 */
		max_cam = <777000>; /* L0 */
		max_mif = <825000>; /* L0 */
		max_i2c = <0>;
	};
};
